# The style of the code of the thesis.
# https://clang.llvm.org/docs/ClangFormatStyleOptions.html
IndentWidth: 1
ColumnLimit: 0
Language: Cpp
Standard: Cpp11
PointerAlignment: Right
AlwaysBreakTemplateDeclarations: 'true'
AllowShortBlocksOnASingleLine: 'false'
AllowShortCaseLabelsOnASingleLine: 'false'
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: 'false'
AllowShortLoopsOnASingleLine: 'false'
# Custom
BreakBeforeBraces: 'GNU'
#BraceWrapping: {
# AfterClass: 'true'
# AfterControlStatement: 'true'
# AfterEnum: 'true'
# AfterFunction: 'true'
# AfterNamespace: 'true'
# AfterStruct: 'true'
# AfterUnion: 'true'
# BeforeCatch: 'true'
# BeforeElse: 'true'
# IndentBraces: 'false'
# SplitEmptyFunctionBody: 'true'
#}
SpaceAfterCStyleCast: false
#SpaceAfterTemplateKeyword: true
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements
TabWidth: 1
UseTab: ForIndentation
